.git
.env
.DS_Store # macOS specific ignore
airflow_settings.yaml
__pycache__/
astro
../soda-framework.txt
aitflow-bq-dbt-soda\include\gcp\service_account.json
aitflow-bq-dbt-soda\include\soda\configuration.yml